 @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');

 .header {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(60, 103, 197);
  font-size: 1.5rem;
  float: right;
  width: 100%;
  background-color: rgb(74, 114, 201);
  z-index: 100;

 }

.logo {
  width: 8rem;
  height: 4rem;
  background: url(./piclogo.png);
  background-repeat: no-repeat;
   background-color: rgb(74, 114, 201);
   border-radius: 25px;
   margin: 1rem 10rem;
  }

.title-logo {
 font-family: 'Satisfy', cursive;
  color: rgb(18, 65, 127);
 margin-left: -4.5rem;
margin-top: 0;
 }

.navbarDiv {
  margin: auto;
  background-color: lightcyan;
  opacity: 0.75;
  border-radius: 25px;
  width: 60%;
  height: 3rem;
}

#menu-link {
  font-size: 25px;
  margin-left: 20px;
  text-decoration: none;
  align-items: center;
  padding-left: 2rem;
}

.navItem {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

@media  (max-width: 1200px) {
  .title-logo {
  
    margin-left: 1rem;
  
    }
  .navbarDiv {
     width: 40%;
    height: 10rem;
     margin: 1rem auto ;
 
  }

  #menu-link{
    display: flex;
       font-size: 25px;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 10rem;
    height: 6rem;
    opacity: 0.75;
    border-radius: 25px;
    justify-content: center;
    margin-left: 2rem;
  }

  .title-logo {
    padding-top: 1.5rem;
  }

  .navbarDiv {
    font-size: 12px;
    margin-right: 1rem;
    width: 40%;
    height: 10rem;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    width: 60%;
  }

  #menu-link{
    display: flex;
    margin: 0.5rem 0;
    font-size: 20px;
    text-decoration: none;
  }

  .navItem {
    display: block;
    text-align: center;
    padding-top: 0.5rem;
  }
}
